<div class="main-container d-flex flex-column">
  <!-- header -->
  <%- include('../../component/header-admin-page.ejs') %>
  <!-- main-content -->
  <div class="main-content d-flex flex-row flex-grow-1">
    <!-- nav-bar -->
    <%- include('../../component/navbar-admin-page.html') %>
    <!-- data-container -->
    <div
      class="data-container ps-3 pe-3 flex-grow-1 d-flex flex-column"
      style="z-index: 1; position: relative; left: 90px"
    >
      <!-- nav-bar pengaturan -->
      <% if (typeof result !== "undefined" && typeof result !== null) { %> <%-
      include('../../component/navbar-setting-result.html') %> <% } else { %>
      <%- include('../../component/navbar-pengaturan.html') %> <% } %>
      <!-- setting-box -->
      <div
        class="table-box border d-flex justify-content-center flex-row"
        style="
          width: calc(100vw - 107px);
          height: calc(100vh - 175px);
          overflow: auto;
        "
      >
        <div
          class="table-box border border-bottom-0 border-top-0 border-start-0 w-100 h-100 overflow-auto"
        >
          <form
            id="form-updateData"
            action="/admin/setting/subject/update"
            method="post"
            class="invisible"
          ></form>
          <form
            id="form-deleteData"
            action="/admin/setting/subject/delete"
            method="post"
            class="invisible"
          ></form>
          <% if (typeof result !== "undefined" && typeof result !== null) { %>
          <div
            class="overflow-auto border border-0"
            style="width: calc(100vw - 109.5px); height: calc(100vh - 185px)"
          >
            <table
              class="w-100 border-start border-end"
              style="border-spacing: 0; border-collapse: separate"
            >
              <thead>
                <tr class="border-bottom border-top">
                  <th
                    class="position-sticky top-0 z-3 baground-basic border-bottom border-top"
                    style="width: 50px"
                  >
                    No
                  </th>
                  <th
                    class="position-sticky top-0 z-3 baground-basic border-bottom border-top"
                    style="width: 25%"
                  >
                    Mata Pelajaran
                  </th>
                  <th
                    class="position-sticky top-0 z-3 baground-basic border-bottom border-top"
                    style="width: 25%"
                  >
                    Status
                  </th>
                  <th
                    class="position-sticky top-0 z-3 baground-basic border-bottom border-top"
                  >
                    Catatan
                  </th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < result.length; i++) { %>
                <tr class="text-center text-white">
                  <td class="border-0 border-bottom"><%= i + 1 %></td>
                  <td class="border-0 border-bottom">
                    <%= result[i].updatedData %>
                  </td>
                  <td class="border-0 border-bottom">
                    <%= result[i].status || "" %>
                  </td>
                  <td class="border-0 border-bottom">
                    <%= result[i].message || "" %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } else { %>
            <table
              id="main-table"
              name="subjectGradeClass"
              style="table-layout: fixed"
              class="w-100 overflow-auto text-light text-center"
            >
              <thead>
                <tr>
                  <th style="width: 25%">Tahun Ajaran</th>
                  <th style="width: 25%">Tingkat</th>
                  <th style="width: 50%">Mata Pelajaran</th>
                </tr>
              </thead>
              <tbody>
                <% data.subjectGradeClasses.forEach((element) => { %>
                <tr
                  id="<%= element.subject_grade_class_id %>"
                  name="Mata Pelajaran <%= element.subject_grade_class_name %> Tingkat <%= element.grade_class.grade_class %> Tahun Ajaran <%= element.academic_year.academic_year %>"
                >
                  <td class="cell-btn-delete">
                    <%= element.academic_year.academic_year %>
                    <button
                      class="submit btn-delete position-absolute start-0"
                      onclick="deleteData(parentElement.parentElement.id)"
                    >
                      <span class="material-symbols-outlined"> delete </span>
                    </button>
                  </td>
                  <td><%= element.grade_class.grade_class.toUpperCase() %></td>
                  <td class="editable-type-text position-relative">
                    <%= element.subject_grade_class_name.toUpperCase() %>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <!-- input table -->
          <div
            class="w-50 form-box d-flex flex-column justify-content-center align-items-center rounded bg-opacity-50"
          >
            <!-- form-container -->
            <p class="fs-2 text-light fw-bold roboto">Tambah Mata Pelajaran</p>
            <div class="form-container w-100 p-3">
              <form action="/admin/setting/subject/input" method="post">
                <label class="text-white roboto" for="yearName"
                  >Tahun Ajaran</label
                >
                <select
                  required
                  name="academicYear"
                  id="yearName"
                  class="form-select w-100 w-25 ps-3 pb-0 pt-0 mb-2 rounded-pill"
                  aria-label="Default select example"
                  onchange="changeGradeClassOption()"
                >
                  <option class="text-white" value="" disabled selected>
                    Pilih Tahun Ajaran
                  </option>
                  <% data.gradeClassByAcademicYear.forEach(element => { %>
                  <option
                    class="text-white"
                    id="<%= element.academicYearId %>"
                    value="<%= element.academicYearId %>|<%= element.academicYear %>"
                  >
                    <%= element.academicYear %>
                  </option>
                  <%})%>
                </select>
                <label class="text-white roboto" for="gradeClass"
                  >Tingkat</label
                >
                <select
                  required
                  name="gradeClass"
                  id="gradeClass"
                  class="form-select w-100 w-25 ps-3 pb-0 pt-0 mb-2 rounded-pill"
                  aria-label="Default select example"
                >
                  <option class="text-white" value="" disabled selected>
                    Pilih Tahun Ajaran Terlebih Dahulu
                  </option>
                  <option class="text-white" value="" disabled selected>
                    Pilih Tingkat
                  </option>
                </select>
                <label class="text-white roboto" for="subjectGradeClassName"
                  >Mata Pelajaran</label
                >
                <input
                  required
                  id="subjectGradeClassName"
                  name="subjectGradeClassName"
                  class="form-control w-100 p-3 mb-3 rounded-pill"
                  type="text"
                  placeholder="masukkan mata pelajaran"
                  aria-label="default input example"
                />
                <button
                  type="submit"
                  class="btn custom-background w-100 p-0 rounded-pill mt-4 animate__pulse roboto"
                  style="height: 30px"
                >
                  Tambah
                </button>
              </form>
            </div>
          </div>
          <% } %>
          <!-- end of settingbox -->
        </div>
        <!-- data of tabel -->
      </div>
      <!-- end of main-content -->
    </div>
    <!-- end of main-container -->
    <%- include('../../../public/script/script-setting-academic-year.html') %>
  </div>
  <% if (typeof subjectGradeClassName !== 'undefined' && subjectGradeClassName
  !== null) { %>
  <script>
    let data = "<%- subjectGradeClassName %>";
    let status = "<%- status %>";
    let message = `<%- message.replace('"', "_") %>`;
    let action = "<%- action %>";

    switch (action) {
      case "add":
        action = "simpan";
        break;
      case "update":
        action = "perbarui";
        break;
      case "delete":
        action = "hapus";
        break;

      default:
        break;
    }

    if (status == "success") {
      Swal.fire({
        icon: "success",
        title: "OK...",
        html: `<p class='text-white'>Mata Pelajaran ${data.toLocaleUpperCase()} berhasil di${action}!</P>`,
        footer: `${message}`,
      });
    } else {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        html: `<p class='text-white'>Mata Pelajaran ${data.toLocaleUpperCase()} gagal di${action}!</P>`,
        footer: `${message}`,
      });
    }
  </script>
  <% } %>
  <script>
    function changeGradeClassOption() {
      const gradeSelect = document.getElementById("gradeClass");
      const academicYearSelect = document.getElementById("yearName");
      const selectedValue = academicYearSelect.value.split("|")[0];
      console.log(selectedValue);
      let gradeClassByAcademicYear = `<%- JSON.stringify(data.gradeClassByAcademicYear) %>`;
      gradeClassByAcademicYear = JSON.parse(gradeClassByAcademicYear);

      const gradeClassByAcademicYearSelected = gradeClassByAcademicYear.find(
        (element) => element.academicYearId == selectedValue
      );
      console.log(gradeClassByAcademicYearSelected);
      // reset option in select to empty
      gradeSelect.innerHTML = "";

      // add new option
      if (
        gradeClassByAcademicYearSelected === undefined ||
        gradeClassByAcademicYearSelected.gradeClass.length === 0
      ) {
        const option = document.createElement("option");
        option.value = "";
        option.text = "Tidak ada Tingkat yang bisa dipilih";
        option.classList.add("text-white");
        gradeSelect.appendChild(option);
      } else {
        gradeClassByAcademicYearSelected.gradeClass.forEach((gradeClass) => {
          const option = document.createElement("option");
          option.value =
            gradeClass.gradeClassId + "|" + gradeClass.gradeClassName;
          option.text = gradeClass.gradeClassName;
          option.classList.add("text-white");
          option.id = gradeClass.gradeClassId;
          gradeSelect.appendChild(option);
        });
      }
    }
  </script>
</div>
