<div class="main-container d-flex flex-column">
  <!-- header -->
  <%- include('../../component/header-admin-page.ejs') %>
  <!-- main-content -->
  <div class="main-content d-flex flex-row flex-grow-1">
    <!-- nav-bar -->
    <%- include('../../component/navbar-admin-page.html') %>

    <!-- data-container -->
    <div
      class="data-container text-light ps-3 pe-3 flex-grow-1 d-flex flex-column"
      style="z-index: 1; position: relative; left: 90px"
    >
      <div
        class="nav-bar-page d-flex justify-content-end"
        style="z-index: 3; width: calc(100vw - 106px)"
      >
        <div
          class="d-flex flex-row information ms-auto align-items-start flex-grow-1"
        >
          <p
            id="info"
            style="font-size: 13px"
            class="d-flex align-items-center fst-italic mt-3 me-3"
          >
            <span class="material-symbols-outlined me-1"> info </span>
            <%= typeof info !== "undefined" && typeof info !== null ? info : "tidak ada informasi" %>
          </p>
        </div>
        <div
          class="btn-box d-flex flex-row align-items-center justify-content-center mt-2"
        >
          <div class="input-file bg-secondary me-2 rounded-2">
            <input class="bg-secondary rounded-2" type="file" />
          </div>
          <button
            class="btn-import btn btn-success me-2 d-flex align-items-center justify-content-center"
            type="button"
            style="width: 100px; height: 35px"
            onclick="window.location.href = '/admin/biodata/import'"
          >
            <span class="material-symbols-outlined me-2"> download </span>
            Import
          </button>
          <button
            class="btn btn-success me-2 d-flex align-items-center justify-content-center"
            type="button"
            style="width: 100px; height: 35px"
            onclick="exportTableToCSV()"
          >
            <span class="material-symbols-outlined me-2"> publish </span>
            Export
          </button>
          <button
            class="btn btn-primary me-2 d-flex align-items-center justify-content-center"
            type="button"
            style="width: 140px; height: 35px"
            onclick="window.location.href = '/admin/biodata/input'"
          >
            <span class="material-symbols-outlined me-2"> add </span>
            Input Data
          </button>
        </div>
      </div>
      <!-- table -->
        <% if (typeof result !== "undefined" && typeof result !== null) { %>
          <div class="overflow-auto mt-0 mb-4" style="
          width: calc(100vw - 106px);
          height: calc(100vh - 182px);
        ">
            <table class="w-100 border-start border-end"  style=" border-spacing: 0; border-collapse: separate;">
                <tr class="border-bottom border-top">
                  <th class="position-sticky top-0 z-3 baground-basic border-bottom border-top">No</th>
                  <th class="position-sticky top-0 z-3 baground-basic border-bottom border-top">NIS</th>
                  <th class="position-sticky top-0 z-3 baground-basic border-bottom border-top">Nama</th>
                    <th class="position-sticky top-0 z-3 baground-basic border-bottom border-top">Status</th>
                  <th class="position-sticky top-0 z-3 baground-basic border-bottom border-top">Catatan</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < result.length; i++) { %>
                <tr>
                  <td class="text-center border-0 border-bottom"><%= i + 1 %></td>
                  <td class="text-center border-0 border-bottom"><%= result[i].nis %></td>
                  <td class="text-start border-0 border-bottom"><%= result[i].name || "-" %></td>
                  <td class="text-center border-0 border-bottom"><%= result[i].status || "" %></td>
                  <td class="text-center border-0 border-bottom"><%= result[i].message || "" %></td>
                </tr>
                <% } %>
              </tbody>
              <script>
                const info = document.getElementById("info");
                info.innerHTML = '<button class="d-flex align-items-center me-auto border-0 bg-transparent text-white"><span onclick="window.location.href = \'/admin/biodata/all\'" class="material-symbols-outlined">arrow_back</span></button>';
              </script>
            </table>
        <% }
        else { %>
          <div
        class="table-box border"
        style="
          width: calc(100vw - 106px);
          height: calc(100vh - 182px);
        "
      >
        <table class="w-100">
          <thead class="baground-basic">
            <tr>
              <th>NIS</th>
              <th>Nama Lengkap</th>
              <th>
                Umur
                <span class="material-symbols-outlined fs-6 text align-middle">lock</span>
              </th >
              <th colspan="2">Tempat Tangal Lahir</th>
              <th>Nama Ayah</th>
              <th>Nama Ibu</th>
              <th>Nama Wali</th>
              <th>Status</th>
              <th>Alamat</th>
            </tr>
          </thead>
          <form
            id="form-updateData"
            action="/admin/biodata/update"
            method="post"
            class="invisible"
          ></form>
          <form
              id="form-deleteData"
              action="/admin/biodata/delete"
              method="post"
              class="invisible"
            >
            </form>
          <tbody>
            <% for( let i = 0; i < data.length; i++ ) { %>
            <tr id="student-<%= data[i].nis %>">
              <td class="editable-type-number text-align-center">
                <button
                  id="<%= data[i].nis %>"
                  class="submit btn-delete position-absolute start-0"
                  onclick="deleteData(this.id)"
                >
                  <span class="material-symbols-outlined">
                    delete
                  </span></button>
                <%= data[i].nis %>
              </td>
              <td class="editable-type-text">
                <%= data[i].fullname.toUpperCase() %>
              </td>
              <td class="text-align-center">
                <%= data[i].age %>
              </td>
              <td class="editable-type-text">
                <%= data[i].cityofbirth.toUpperCase() %>
              </td>
              <td class="editable-type-date">
                <%= data[i].dateofbirth.toLocaleString("id-ID", {
                    year: "numeric",
                    month: "long",
                    day: "numeric"
                  }) %>
              </td>
              <td class="editable-type-text">
                <%= data[i].fathername.toUpperCase() %>
              </td>
              <td class="editable-type-text">
                <%= data[i].mothername.toUpperCase() %>
              </td>
              <td class="editable-type-text">
                <%= data[i].guardianname.toUpperCase() %>
              </td>
              <td class="editable-type-select text-align-center">
                <%= data[i].status.toUpperCase() %>
              </td>
              <td class="editable-type-text">
                <%= data[i].address.toUpperCase() %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- data of tabel -->
        <% } %>
      </div>
      <!-- end of table -->
    
  </div>
  <!-- end of main-content -->
</div>
<!-- end of main-container -->
<%- include('../../../public/script/script-biodata.html') %>
