<div class="main-container d-flex flex-column">
  <!-- header -->
  <%- include('../../component/header-admin-page.ejs') %>
  <!-- main-content -->
  <div class="main-content d-flex flex-row flex-grow-1">
    <!-- nav-bar -->
    <%- include('../../component/navbar-admin-page.html') %>

    <!-- data-container -->
    <div
      class="data-container ps-3 pe-3 flex-grow-1 d-flex flex-column"
      style="z-index: 1; position: relative; left: 90px"
    >    
      <!-- nav-bar pengaturan -->
      <% if (typeof result !== "undefined" && typeof result !== null) { %>
        <%- include('../../component/navbar-setting-result.html') %>
      <% } else { %>
        <%- include('../../component/navbar-pengaturan.html') %>
      <% } %>

      <!-- setting-box -->
      <div
        class="table-box border d-flex justify-content-center flex-row"
        style="
          width: calc(100vw - 107px);
          height: calc(100vh - 175px);
          overflow: auto;
        "
      >
        <div
          class="table-box border border-bottom-0 border-top-0 border-start-0 w-100 h-100 overflow-auto"
        >
          <form
            id="form-updateData"
            action="/admin/setting/quarteracademicyear/update"
            method="post"
            class="invisible"
          ></form>
          <form
            id="form-deleteData"
            action="/admin/setting/quarteracademicyear/delete"
            method="post"
            class="invisible"
          ></form>
          <% if (typeof result !== "undefined" && typeof result !== null) { %>
            <div class="overflow-auto border border-0 " style="
            width: calc(100vw - 109.5px);
            height: calc(100vh - 185px);
          ">
              <table class="w-100 border-start border-end"  style=" border-spacing: 0; border-collapse: separate;">
                <thead>  
                <tr class="border-bottom border-top">
                    <th class="position-sticky top-0 z-3 baground-basic border-bottom border-top" style="width: 50px;">No</th>
                    <th class="position-sticky top-0 z-3 baground-basic border-bottom border-top" style="width: 25%;">Cawu</th>
                    <th class="position-sticky top-0 z-3 baground-basic border-bottom border-top" style="width: 25%;">Status</th>
                    <th class="position-sticky top-0 z-3 baground-basic border-bottom border-top" >Catatan</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i = 0; i < result.length; i++) { %>
                  <tr class="text-center text-white">
                    <td class=" border-0 border-bottom"><%= i + 1 %></td>
                    <td class=" border-0 border-bottom"><%= result[i].quarterAcademicYear %></td>
                    <td class=" border-0 border-bottom"><%= result[i].status || "" %></td>
                    <td class=" border-0 border-bottom"><%= result[i].message || "" %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
          <% } else { %>
          <table
            id="main-table"
            name="quarterAcademicYear"
            class="w-100 text-light text-center"
          >
            <thead>
              <tr>
                <th style="width: 25%">Tahun Ajaran<span class="ms-2 material-symbols-outlined fs-6 text align-middle">lock</span></th>
                <th style="width: 25%">Cawu</th>
                <th style="width: 25%">Tanggal Awal Tahun</th>
                <th style="width: 25%">Tanggal Akhir Tahun</th>
              </tr>
            </thead>
            <tbody>
              <% data.quarterAcademicYears.forEach(element => { %>
              <tr id="<%= element.quarter_academic_year_id %>" name="Cawu <%= element.quarter_academic_year +" Tahun "+ element.academic_year %>">
                <td class="cell-btn-delete">
                  <button
                    class="submit btn-delete position-absolute start-0"
                    onclick="deleteData(parentElement.parentElement.id)"
                  >
                    <span class="material-symbols-outlined"> delete </span>
                  </button>
                  <%= element.academic_year %>
                </td>
                <td class="editable-type-text"><%= element.quarter_academic_year %></td>
                <td class="editable-type-date">
                  <%= element.start_date.toLocaleString("id-ID", { year:
                  "numeric", month: "long", day: "numeric" }) %>
                </td>
                <td class="editable-type-date position-relative">
                  <%= element.end_date.toLocaleString("id-ID", { year:
                  "numeric", month: "long", day: "numeric" }) %>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          
        </div>
        <!-- input table -->
        <div
          class="w-50 form-box d-flex flex-column justify-content-center align-items-center rounded bg-opacity-50"
        >
          <!-- form-container -->
          <p class="fs-2 text-light fw-bold roboto">Tambah Catur Wulan</p>
          <div class="form-container w-100 p-3">
            <form action="/admin/setting/quarteracademicyear/input" method="post">
              <label class="text-white roboto" for="yearName"
                >Tahun Ajaran</label
              >
              <select
                required
                name="yearName"
                id="yearName"
                class="form-select w-100 w-25 ps-3 pb-0 pt-0 mb-2 rounded-pill"
                aria-label="Default select example"
              >
                <option class="text-white" value="" disabled selected>
                  Pilih Tahun Ajaran
                </option>
                <% data.academicYears.forEach(element => { %>
                <option class="text-white" value="<%= element.academic_year %>">
                  <%= element.academic_year %>
                </option>
                <%})%>
              </select>

              <label class="text-white roboto" for="quarterCount">Cawu</label>
              <input
                required
                id="quarterCount"
                name="quarterCount"
                class="form-control w-100 p-3 mb-5 rounded-pill"
                type="number"
                placeholder="masukKan cawu"
                aria-label="default inpt example"
              />
              <label class="text-white roboto" for="startDate"
                >Tanggal Awal</label
              >
              <input
                required
                id="startDate"
                name="startDate"
                class="form-control w-100 p-3 mb-2 rounded-pill"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
                placeholder="masukkan tanggal awal cawu"
                aria-label="default input example"
              />
              <label class="text-white roboto" for="endDate"
                >Tanggal Akhir</label
              >
              <input
                required
                id="endDate"
                name="endDate"
                class="form-control w-100 p-3 mb-5 rounded-pill"
                onfocus="(this.type='date')"
                onblur="(this.type='text')"
                placeholder="masukkan tanggal akhir cawu"
                aria-label="default input example"
              />
              <button
                type="submit"
                class="btn custom-background w-100 p-0 rounded-pill mt-4 animate__pulse"
                style="height: 30px; font-family: Roboto Mono, monospace"
              >
                Tambah
              </button>
            </form>
          </div>
        </div>
        <% } %>
        <!-- end of settingbox -->
      </div>
      <!-- data of tabel -->
    </div>
    <!-- end of main-content -->
  </div>
</div>
<!-- end of main-container -->
<%- include('../../../public/script/script-setting-academic-year.html') %> <% if
(typeof quarterAcademicYear !== 'undefined' && quarterAcademicYear !== null) {
%>
<script>
  let data = "<%- quarterAcademicYear %>";
  let status = "<%- status %>";
  let message = `<%- message.replace('"', "_") %>`;
  let action = "<%- action %>";

  switch (action) {
    case "add":
      action = "simpan";
      break;
    case "update":
      action = "perbarui";
      break;
    case "delete":
      action = "hapus";
      break;

    default:
      break;
  }

  if (status == "success") {
    Swal.fire({
      icon: "success",
      title: "OK...",
      html: `<p class='text-white'>Cawu ${data} berhasil di${action}!</P>`,
      footer: `${message}`,
    });
  } else {
    Swal.fire({
      icon: "error",
      title: "Oops...",
      html: `<p class='text-white'>Cawu ${data} gagal di${action}!</P>`,
      footer: `${message}`,
    });
  }
</script>
<% } %>
